<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Details of Slide #{{ slide.slide_number }}</title>
</head>
<body>
<div class="container">
    <div class="slide-list">
        <h2>Slides of Course #{{ courseId }}</h2>
        <ul>
            {% for slideItem in slides %}
                <li>
                    <a href="/courses/{{ courseId }}/slide/{{ slideItem.slide_number }}">
                        {{ slideItem.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="content">
        <h1>{{ slide.title }}</h1>
        <p>{{ slide.description }}</p>
    </div>
</div>
</body>
</html>