<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Details of Slide #{{ slide.slide_number }}</title>
    <style>
        .course-container {
            font-family: 'Arial', sans-serif;
            background-color: #f0f0f0;
            display: flex;
            height: 100vh;
        }

        .course-header {
            background-color: #93c0f8;
            color: black;
            padding: 3px 3px;
            display: flex;
            align-items: center;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            box-sizing: border-box;
            z-index: 1000;
        }

        .lessons-container {
            display: flex;
            width: 100%;
            padding-top: 50px;
        }

        .lesson-list {
            background-color: white;
            width: 25%;
            margin-top: 5px;
        }

        .lesson-item {
            border-bottom: 1px solid #ddd;
            padding: 10px 10px;
            list-style: none;
        }

        .lesson-item:last-child {
            border-bottom: none;
        }

        .lesson-item a {
            text-decoration: none;
            color: black;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .lesson-item a:hover {
            background-color: #f0f0f0;
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0,0,0,0.4);
        }

        .modal-content {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fefefe;
            padding: 20px;
            border: 1px solid #888;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            width: 300px;
            height: auto;
            max-width: 600px;
            max-height: 90vh;
        }

        .content {
            flex-grow: 1;
            padding: 10px;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-menu {
            display: none;
        }

        .show {
            display: block;
        }

        .content-actions {
            display: flex;
            justify-content: space-around;
            margin-bottom: 10px;
        }

        .content-actions button {
            background: #fff;
            border: 1px solid #ccc;
            padding: 5px 10px;
            cursor: pointer;
        }

        .content-actions button:hover {
            background: #f0f0f0;
        }

        #imagePreviewContainer {
            display: none;
            max-width: 100%;
            overflow: hidden;
        }

        #imagePreview {
            width: 40%;
            height: auto;
        }

    </style>
</head>
<body>
<div class="course-container">
    <div class="course-header">
        <a href="{{ route('courses_list') }}"><-</a>
        <h1>Introduction to PHP</h1>
    </div>
    <div class="lessons-container">
        <div class="lesson-list">
            <h2>Lessons</h2>
            <ul>
                {% for slideItem in slides %}
                    <li class="lesson-item">
                        <a href="/courses/{{ courseId }}/slide/{{ slideItem.slide_number }}">
                            <span class="lesson-title">{{ slideItem.title }}</span>
                            <form action="{{ route('slide.remove', {'course': courseId, 'slide': slideItem.slide_number}) }}" method="post">
                                {{ csrf_field() }}
                                <button class="icon-duplicate">Delete</button>
                                <input type="hidden" name="_method" value="DELETE">
                            </form>
                        </a>
                    </li>
                {% endfor %}
                    <div class="dropdown">
                        <div class="dropdown-menu">
                            <button class="dropdown-toggle">+</button>
                        </div>
                    </div>
                <li class="lesson-item">
                    <a class="add_slide">+</a>
                </li>
            </ul>
        </div>
        <div id="myModal" class="modal" style="display: none;">
            <div class="modal-content">
            </div>
        </div>
        <div class="content">
            <br>
            <form action="{{ route('slide.update', {'course': courseId, 'slide': slide.slide_number}) }}" method="post" enctype="multipart/form-data">
                {{ csrf_field() }}
                <div>
                    <label for="title">Slide Title:</label>
                    <input type="text" id="title" name="title" required value="{{ slide.title }}">
                </div>
                <div id="textContainer">
                    {% for description in slide.descriptions %}
                        <div>
                            <label for="description_{{ description.id }}">Text:</label>
                            <textarea id="description_{{ description.id }}" name="descriptions[{{ description.id }}]">{{ description.description }}</textarea>
                            <button type="button" class="delete-button" data-description-id="{{ description.id }}">Delete</button>
                        </div>
                    {% endfor %}
                </div>
                <button type="button" id="addSectionButton">+ Add New Section</button>
                <div id="sectionContainer"></div>
                <div class="content-actions" id="contentActions" style="display: none;">
                    <button type="button" id="addTextButton">Text</button>
                    <button type="button" id="addImageButton">Img</button>
                </div>
                <div>
                    <label style="display: none" for="imageUpload">Upload Image:</label>
                    <input style="display: none" type="file" id="imageUpload" name="image" accept="image/*" onchange="previewImage(this);">
                    <div id="imagePreviewContainer">
                        <img id="imagePreview" src="" alt="Image Preview">
                    </div>
                </div>
                <button type="submit">Update Slide</button>
            </form>
            {% for description in slide.descriptions %}
                <form action="{{ route('slide.content.remove', {'course': courseId, 'slide': slide.slide_number, 'descriptionId': description.id}) }}" method="post" style="display: none;">
                    {{ csrf_field() }}
                    <input type="hidden" name="_method" value="DELETE">
                </form>
            {% endfor %}
        </div>
    </div>
</div>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var addSlideButton = document.querySelector('.add_slide');
        if (addSlideButton) {
            addSlideButton.addEventListener('click', function(event) {
                event.preventDefault();
                fetch('{{ route('slide.create', {'course': courseId}) }}')
                    .then(response => response.text())
                    .then(html => {
                        var modal = document.getElementById('myModal');
                        if (modal) {
                            var modalContent = modal.querySelector('.modal-content');
                            modalContent.innerHTML = html;
                            modal.style.display = 'block';

                            var closeButton = modal.querySelector('.close');
                            if (closeButton) {
                                closeButton.onclick = function() {
                                    modal.style.display = 'none';
                                }
                            }
                        } else {
                            console.error('Modal element not found');
                        }
                    })
                    .catch(error => console.error('Error:', error));
            });
        }
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var addButton = document.getElementById('addTextButton');
        var container = document.getElementById('textContainer');

        addButton.addEventListener('click', function () {
            var newTextArea = document.createElement('textarea');
            newTextArea.name = 'new_description[]';
            newTextArea.classList.add('additional-description');

            var newLabel = document.createElement('label');
            newLabel.textContent = 'Content : ';

            var newDiv = document.createElement('div');
            newDiv.appendChild(newLabel);
            newDiv.appendChild(newTextArea);

            container.appendChild(newDiv);
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('addText').addEventListener('click', addTextField);
        document.getElementById('addImage').addEventListener('click', addImageField);
        document.getElementById('addVideo').addEventListener('click', addVideoField);
        document.getElementById('addQuiz').addEventListener('click', addQuizField);
    });

    document.addEventListener('DOMContentLoaded', function() {
        var deleteButtons = document.querySelectorAll('.delete-button');

        deleteButtons.forEach(function(button) {
            button.addEventListener('click', function() {
                var descriptionId = button.getAttribute('data-description-id');
                var deleteForm = document.querySelector('form[action*="' + descriptionId + '"]');
                if (deleteForm) {
                    deleteForm.submit();
                } else {
                    console.error('Delete form not found');
                }
            });
        });
    });

    function addTextField() {
        var container = document.getElementById('textContainer');
        var newTextArea = document.createElement('textarea');
        newTextArea.name = 'new_description[]';
        container.appendChild(newTextArea);
    }

    function addImageField() {
        var container = document.getElementById('textContainer');
        var newInput = document.createElement('input');
        newInput.type = 'file';
        newInput.name = 'new_image[]';
        newInput.accept = 'image/*';
        container.appendChild(newInput);
    }

    function addVideoField() {
    }

    function addQuizField() {
    }

    document.addEventListener('DOMContentLoaded', function () {
        var addSectionButton = document.getElementById('addSectionButton');
        var contentActions = document.getElementById('contentActions');

        addSectionButton.addEventListener('click', function () {
            contentActions.style.display = contentActions.style.display === 'none' ? 'block' : 'none';
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('addImageButton').addEventListener('click', function() {
            document.getElementById('imageUpload').click();
        });
    });

    function previewImage(input) {
        var previewContainer = document.getElementById('imagePreviewContainer');
        var previewImage = document.getElementById('imagePreview');

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
                previewImage.src = e.target.result;
                previewContainer.style.display = 'block';
            }

            reader.readAsDataURL(input.files[0]);
        } else {
            previewContainer.style.display = 'none';
            previewImage.src = '';
        }
    }
</script>
</html>